@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    @variants responsive {

        /* Hide scrollbar for Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        .no-scrollbar {
            -ms-overflow-style: none;
            /* IE and Edge */
            scrollbar-width: none;
            /* Firefox */
        }
    }
}

body {
    @apply scrollbar-none;
    font-family: 'VT323', monospace;
    user-select: none;
}

h1 {
    @apply tracking-wide text-8xl text-primary-default;
}

p {
    @apply text-2xl font-normal text-primary-default;
}